{% extends 'base.html' %}

{% block body %}
<h2>Edit details of your bull below:</h2>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if bull.image_id %}
        <p>Current Image:</p>
        <img src="{{ bull.image_id.url }}" alt="Current bull image" style="max-width: 300px;">
        <br>
        <button type="submit" name="remove_image" value="true">Remove Image</button>
    {% endif %}
    <br>
    <input type="submit" value="Save Changes">
</form>

<a href="{% url 'index' %}">Back to List</a>
{% endblock %}