{% extends 'base.html' %}

{% block body %}

<h2>Edit details of your cow below:</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if cow.image_id %}
    <p>Current Image:</p>
    <img src="{{ cow.image_id.url }}" alt="Current cow image" style="max-width: 300px;">
    <br>
    <button type="submit" name="remove_image" value="true">Remove Image</button>
    {% endif %}
    <br>
    <input type="submit" value="Save">
</form>

<a href="{% url 'index' %}">Back to List</a></h2>

{% endblock %}