{% extends "base.html" %}

{% block body %}
{% if user.is_authenticated %}
<h2>Cows</h2>
<p>Click <a href="add_cow">here</a> to add a cow</p>
<ul>
    {% for cow in cows%}
    <li>
        <a href="{% url 'view_cow' cow.cow_id %}">{{cow}}</a>
        <a href="{% url 'edit_cow' cow.cow_id %}">Edit</a>
        <form method="post" action="{% url 'delete_cow' cow.cow_id %}">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Are you sure you want to delete this cow?');">
                Delete Cow
            </button>
        </form>    
    </li>
    {% empty %}
    <p>No cows added yet.</p>
    {% endfor %}
</ul>

<h2>Bulls</h2>
<p>Click <a href="add_bull">here</a> to add a bull</p>
<ul>
    {% for bull in bulls %}
    <li>
        <a href="{% url 'view_bull' bull.bull_id %}">{{bull}}</a>
        <a href="{% url 'edit_bull' bull.bull_id %}">Edit</a>
        <form method="post" action="{% url 'delete_bull' bull.bull_id %}">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Are you sure you want to delete this bull?');">
                Delete Bull
            </button>
        </form>    
    </li>
    {% empty %}
    <p>No bulls added yet.</p>
    {% endfor %}
</ul>

<h2>Breeding</h2>
<p>Click <a href="add_breeding_event">here</a> to record a breeding event</p>
<ul>
    {% for breeding in breedings %}
    <li>
        <a href="{% url 'view_breeding' breeding.breeding_id %}">{{breeding}}</a>
        <a href="{% url 'edit_breeding' breeding.breeding_id %}">Edit</a>
        <form method="post" action="{% url 'delete_breeding' breeding.breeding_id %}">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Are you sure you want to delete this record?');">
                Delete Record
            </button>
        </form>    
    </li>
    {% empty %}
    <p>No breeding events recorded yet.</p>
    {% endfor %}
</ul>

<h2>Calf</h2>
<p>Click <a href="add_calf">here</a> to add a calf:</p>
<ul>
    {% for calf in calfs %}
    <li>
        <a href="{% url 'view_calf' calf.calf_id %}">{{calf}}</a>
        <a href="{% url 'edit_calf' calf.calf_id %}">Edit</a>
        <form method="post" action="{% url 'delete_calf' calf.calf_id %}">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Are you sure you want to delete this record?');">
                Delete Calf
            </button>
        </form>    
    </li>
    {% empty %}
    <p>No calfs added yet.</p>
    {% endfor %}
</ul>

{% else %}
<p> You need to be logged in.</p>
{% endif %}
{% endblock %}