{% extends 'base.html' %}

{% block title %}
View Calf
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-success text-white">
                    <h3 class="text-center mb-0">Calf Details: {{ calf.registration_number }}</h3>
                </div>
                <div class="card-body text-center">
                    {% if calf.image_id %}
                    <div class="text-center mb-3">
                        <p><strong>Image:</strong></p>
                        <img class="img-fluid" src="{{ calf.image_id.url }}"
                            alt="User uploaded image of {{ calf.registration_number }}" style="max-width: 100%;">
                    </div>
                    {% endif %}
                    <p><strong>Sire:</strong> <a
                            href="{% url 'view_bull' sire.bull_id %}">{{ sire.registration_number }}</a></p>
                    <p><strong>Dam:</strong> <a href="{% url 'view_cow' dam.cow_id %}">{{ dam.registration_number }}</a>
                    </p>
                    <p><strong>Date of Birth:</strong> {{ calf.dob }}</p>
                    <p><strong>Sex:</strong> {{ calf.sex }}</p>
                    <p><strong>Calving Method:</strong> {{ calf.calving_method }}</p>
                    <p><strong>Comments:</strong> {{ calf.comments|linebreaksbr }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{% url 'index' %}" class="btn btn-success">Back to Dashboard</a>
                    <a href="{% url 'edit_calf' calf.calf_id %}" class="btn btn-warning">Edit Details</a>
                    <form method="post" action="{% url 'delete_calf' calf.calf_id %}" class="d-inline">
                        {% csrf_token %}
                        <a type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteConfirmModal">
                            Delete Calf
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}