{% extends 'base.html' %}

{% block body %}

<h1>Calf Details: {{ calf.registration_number }}</h1>

<p><strong>Sire:</strong><a href="{% url 'view_bull' bull_id%}">{{ sire }}</a></p>
<p><strong>Sire:</strong>
    {% if bull_id %}
        <a href="{% url 'view_bull' bull_id=bull_id %}">{{ sire.registration_number }}</a>
    {% else %}
        Unknown
    {% endif %}
</p>

<p><strong>Dam:</strong>
    {% if cow_id %}
        <a href="{% url 'view_cow' cow_id=cow_id %}">{{ dam.registration_number }}</a>
    {% else %}
        Unknown
    {% endif %}
</p>
<p><strong>Date of Birth:</strong> {{ calf.dob }}</p>
<p><strong>Sex:</strong> {{ calf.sex }}</p>
<p><strong>Calving Method:</strong> {{ calf.calving_method }}</p>
<p><strong>Comments:</strong> {{ calf.comments }}</p>

<a href="{% url 'index' %}">Back to List</a></h2>

{% endblock %}