{% extends 'base.html' %}

{% block body %}

<h1>Calf Details: {{ calf.registration_number }}</h1>
<p><strong>Sire:</strong>
    {% if sire %}
        <a href="{% url 'view_bull' sire.bull_id %}">{{ sire.registration_number }}</a>
    {% else %}
        Unknown
    {% endif %}
</p>
<p><strong>Dam:</strong>
    {% if dam %}
        <a href="{% url 'view_cow' dam.cow_id %}">{{ dam.registration_number }}</a>
    {% else %}
        Unknown
    {% endif %}
</p>
<p><strong>Date of Birth:</strong> {{ calf.dob }}</p>
<p><strong>Sex:</strong> {{ calf.sex }}</p>
<p><strong>Calving Method:</strong> {{ calf.calving_method }}</p>
<p><strong>Comments:</strong> {{ calf.comments }}</p>

<a href="{% url 'index' %}">Back to List</a></h2>

{% endblock %}